<h1>Your Post</h1>


<div class="blog_posts">
	<p>
		<%= @post.title %>
	</p>

	<p>
		<%= @post.body %>
	</p>

	<p>
		<%= link_to "Edit", edit_post_path(@post) %> |
	</p>

	<p>
		<%= link_to "Delete", post_path(@post), method: :delete, data: { confirm: "Are you sure?" } %>
	</p>

	<p>
		<%= link_to "Back", posts_path %>
	</p>
</div>

<div class="comments">

	<h2>All Comments</h2>

	<%= render @post.comments.order("created_at DESC") %>

	<h2>Leave a Comment</h2>
	<%= form_for [@post, @post.comments.build] do |f| %>
		<%= f.label :name %> <br>
		<%= f.text_field :name %> <br>

		<%= f.label :body %> <br>
		<%= f.text_area :body %> <br>

		<%= f.submit %> <br>
	<% end %>
</div>